body {
  font-family: arial;
  background: radial-gradient(
    circle,
    rgb(228, 192, 146) 0%,
    rgb(34, 80, 117) 100%
  );
}

ul {
  list-style-type: none;
}

.overall {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 23px;
  width: 400px;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(74, 101, 130, 1) 100%
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.header {
  position: relative;
  top: 8px;
}

.container {
  border-radius: 10px;
  border-width: 30px;
}
.display-4,
.display-6 {
  text-shadow: 2px 2px rgb(158, 152, 152);
  font-weight: lighter;
}

.display-4 {
  text-align: right;
  position: relative;
  right: 50px;
}

#time {
  position: relative;
  top: 10px;
  text-align: center;
}

.current-city,
.high,
.low,
.currentweather,
.units,
.day,
.weather-forecast-temperature-min,
.weather-forecast-temperature-max {
  text-shadow: 2px 2px rgb(158, 152, 152);
  text-align: center;
}
.current-city {
  padding: 5px;
  text-align: center;
}

.high,
.low,
.currentweather,
.units {
  font-size: 20px;
  font-weight: thinner;
}
.cityfinder {
  display: block;
  text-align: center;
  padding: 10px;
}

#current-celsius,
#current-fahr {
  color:rgb(34, 80, 117)
  text-shadow: 2px 2px rgb(158, 152, 152);
}

#current-celsius:hover,
#current-fahr:hover {
  text-decoration: none;
}
li {
  text-align: right;
  text-transform: capitalize;
}

.weather {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.byline {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

h4 {
  text-shadow: 2px 2px rgb(158, 152, 152);
  text-align: center;
}
