body {
  font-family: arial;
  display: block;
  background: linear-gradient(45deg, #d5a9ff 0%, #ca47bf 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.container {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 20px;
  left: 0px;
  right: 30px;
}
.display-3,
.display-6 {
  text-shadow: 2px 2px rgb(158, 152, 152);
  font-weight: lighter;
}

.display-3 {
  text-align: right;
}
.current-city {
  text-align: center;
}

.cityfinder {
  text-align: center;
}

.weather {
  text-align: center;
}

.byline {
  text-align: center;
}

h3 {
  text-shadow: 2px 2px rgb(158, 152, 152);
}
