body {
  font-family: arial;
  display: block;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.container {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 20px;
  left: 0px;
  right: 30px;
}
.display-4,
.display-6 {
  text-shadow: 2px 2px rgb(158, 152, 152);
  font-weight: lighter;
}

.display-4 {
  text-align: right;
}
